@charset "uft-8";

body{
    margin:0;
    padding:0;
}

* {
    box-sizing: border-box;
}

.nav{
    width:100%;
    height: 128px;
    padding: 0;
    margin: 0;
}

.nav-bar{
    width: inherit;
    height: inherit;
    text-align: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav-itm{
    height: inherit;
    display: inline-block;
    list-style: none;
    line-height: 128px;
    margin-top:5px;
    margin-left: 16px;
}
.nav-link{
    display:inline-block;
    color:#000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}
.nav-img{
    width: 48px;
    height: 48px;
    display: inline-block;
    float: right;
}
.name{
    margin-top: 20px;
    float:left;
    font-size: 20px;
}
.images{
    width: inherit;
    padding: 0;
    position: absolute;
    right: 0;
    list-style: none;
    float: right;
    line-height: 128px;
    margin-top:5px;
    margin-left: 16px;
}
.contact-overall h1{
    color: black;
}
.contact-overall p{
    color: black;
}
.contact-icons{
    width:100%;
    height: 128px;
    padding: 0;
    margin: 0;
}
.contact-itm{
    height: inherit;
    display: inline-block;
    list-style: none;
    line-height: 128px;
    margin: 16px;
}
.contact-link{
    display:inline-block;
    color:#000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}
.contact-img{
    width: 78px;
    height: 78px;
    display: inline-block;
}
.overall{
    width:100%;
    height: 100%;
    background-image:url(../resources/oil-overall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    list-style: none;
}

/*images by anoushka*/
.column {
    float: left;
    width: inherit;
    display: inline-block;
    list-style: inherit;

    padding: 0 4px;

    box-sizing: content-box;
    -ms-flex: 50%; /* IE 10 */
}

/* Style the images inside the grid*/
.column img {
    opacity: 0.8;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin-top: 8px;
    vertical-align: middle;
}

.column img:hover {
    opacity: 2;
}
/*.row {
    display: inline-block;
    flex-wrap: wrap;
    padding: 0 4px;
    height: max-content;
    width: inherit;
}

.column {
    float: left;
    width: inherit;
    display: inline-block;
    list-style: inherit;

    flex: 50%;
    padding: 0 4px;

    box-sizing: content-box;
}

/* Style the images inside the grid
.column img {
    opacity: 0.8;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin-top: 8px;
    vertical-align: middle;
}*/

/*.row {
    display: -ms-flexbox; /* IE 10
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other
.column {
    -ms-flex: 50%; /* IE 10
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
*/
/* Style the buttons */
.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: inherit;
    align-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

.column img:hover {
    opacity: 2;
}

/* Clear floats after the columns */
.row:after {
    display: inline-block;
    list-style-image: unset;
    clear: both;
    flex-wrap: wrap;
    padding: 0 4px;
    height: 20px;
    width: inherit;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: darkred;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    left: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}
.images{
    list-style: none;
    line-height: 128px;
    margin: 16px;
    width: 200px;
    height: 200px;
    display: inline-block;
    float: right;
}

.oil-overall{
    height: max-content;
    width: inherit;
    contain: size;
}
